@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.demo {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    width: 100%;
    padding: 32px;
}

.demo__video {
    position: relative;
    width: 384px;
    height: 768px;
    overflow: hidden;
    background-color: #000;
    border-radius: 16px;
}

.demo__video-renderer {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.demo__video-overlay {
    position: absolute;
    inset: var(--barcode-scanner-result-area-y, var(--barcode-scanner-area-y)) auto auto
        var(--barcode-scanner-result-area-x, var(--barcode-scanner-area-x));
    width: var(--barcode-scanner-result-area-width, var(--barcode-scanner-area-width));
    height: var(--barcode-scanner-result-area-height, var(--barcode-scanner-area-height));
    pointer-events: none;
    border: 2px dashed #fff;
    border-radius: 16px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transition-property: inset, width, height;
}

.demo__video-preview {
    position: absolute;
    inset: auto 16px 16px auto;
    width: 128px;
    height: 128px;
    pointer-events: none;
    background-color: #000;
    border-radius: 16px;
}

.demo__control {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.demo__control-row {
    display: flex;
    gap: 16px;
}

.demo__control-button {
    display: block;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    border: none;
    border-radius: 4px;
}

.demo__control-select {
    display: block;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    border: none;
    border-radius: 4px;
}

.demo__result-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}

.demo__result-value {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}
